:root {
    --light-one-color: #21978B;
    --light-two-color: #FBFBFD;
    --light-three-color: #4F5665;
    --light-four-color: #323232;
    --light-five-color: #141414;
    --light-six-color: #D4D4D4;
    --light-seven-color: #F9F9F9;
    --light-eight-color: #F4F8F5;
    --light-nine-color: #9A9A9A;
    --light-ten-color: #000000;
    --light-eleven-color: #FFFFFF;
  }